.contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-style: normal;
    margin-top: 7px;
}

.contacts__tel {
    text-decoration: none;
    font-size: 26px;
}

.dropdown {
    display: inline-flex;
    flex-direction: column;
    align-items: end;
    margin-top: -8px;
    position: relative;
}

.dropdown-icon {
    position:absolute;
    display: block;
    top: 100%;
    right: -9999px;
    margin-top: 10px;
    opacity: 0;
    transition: opacity .8s;
}

.dropdown-icon::after {
    content: "";
    display: block;
    height: 22px;
    left: 0;
    right: 0;
    bottom: 75px;
    position: absolute;
}

.contacts__graf {
    display: block;
    color: #98A4A8;
    font-size: 13px;
    line-height: 20px;
    text-decoration-line: underline;
}

.dropdown:hover .contacts__graf {
    color: #FFF;
}

.dropdown:hover .dropdown-icon {
    right: 0px;
    opacity: 1;
}

.contacts__work-time {
    width: 160px ;
    height: 80px;
    background: #EDEDED;
    border-radius: 9px;
    display: block;
    color: #1E1F20;
    font-size: 13px;
    font-weight: 600;
    line-height: 21px;
    text-align: center;
    padding-top: 18px;
}

.triangle {
    display: inline-block;
    position: absolute;
    content: "";
    border: 12px solid transparent;
    border-bottom-color: #EDEDED;
    top: -22px;
    left: 95px;
}

.contacts__work-time > b {
    font-weight: 700;
}