.contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /*top: 30.64px;
    right: 0;*/
    font-style: normal;
    /*text-align: right;*/
}

.contacts__tel {
    /*display: block;*/
    text-decoration: none;
    font-size: 26px;
    /*margin-bottom: -7px;*/
}

.dropdown {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-top: 10px;
}

.dropdown-icon {
    position: absolute;
    display: block;
    top: 100px;
    right: -9999px;
    /*opacity: 0;
    transition: opacity .8s;*/

}

.dropdown:hover .dropdown-icon {
    display: flex;
    right: 135px;
}

.dropdown:hover .contacts__graf {
    color: #FFF;

}

.dropdown-icon::after {
    content: "";
    display: block;
    height: 20px;
    left: 0;
    right: 0;
    bottom: 77px;
    position: absolute;
}

.contacts__graf{
    display: block;
    color: #98A4A8;
    font-size: 13px;
    line-height: 20px;
    text-decoration-line: underline;
}

.contacts__graf:hover {
    color: #FFF;
}

.contacts__work-time {
    width: 160px ;
    height: 80px;
    background: #EDEDED;
    border-radius: 9px;
    display: block;
    color: #1E1F20;
    font-size: 13px;
    font-weight: 600;
    line-height: 21px;
    text-align: center;
    padding-top: 18px;
}

.triangle {
    display: inline-block;
    position: absolute;
    content: "";
    border: 12px solid transparent;
    border-bottom-color: #EDEDED;
    top: -22px;
    left: 95px;
}

.contacts__work-time > b {
    font-weight: 700;
}