.footer {
    background: #17191C;
}

.footer-conteiner {
    border-top: 1px solid rgba(fff .1);
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.socials__list {
    display: flex;
    justify-content: space-between;
}

.socials__item {
     margin-right: 10px;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}

.socials__item--icon--telegram .socials__link {
    background: url("../../img/css_sprites.png") 46px -10px, lightgray 50% / cover no-repeat;
    border-radius: 50%;
}

.socials__item--icon--telegram .socials__link:hover {
    background: url("../../img/css_sprites.png") 46px -66px, rgb(31, 30, 30) 75% / cover no-repeat;    
    border-radius: 50%;
}

.socials__item--icon--vk .socials__link {
    background: url("../../img/css_sprites.png") -10px 46px, lightgray 50% / cover no-repeat;
    border-radius: 50%;
}

.socials__item--icon--vk .socials__link:hover {
    background: url("../../img/css_sprites.png") -66px 46px, rgb(31, 30, 30) 50% / cover no-repeat;
    border-radius: 50%;
}

.socials__item--icon--facebook .socials__link {
    background: url("../../img/css_sprites.png") -10px -10px, lightgray 50% / cover no-repeat;
    border-radius: 50%; 
}

.socials__item--icon--facebook .socials__link:hover {
    background: url("../../img/css_sprites.png") -66px -10px, rgb(31, 30, 30) 50% / cover no-repeat;
    border-radius: 50%; 
}

.socials__item--icon--instagram .socials__link {
    background: url("../../img/css_sprites.png") -10px -66px, lightgray 50% / cover no-repeat;
    border-radius: 50%;  
}

.socials__item--icon--instagram .socials__link:hover {
    background: url("../../img/css_sprites.png") -66px -66px, rgb(31, 30, 30) 50% / cover no-repeat;
    border-radius: 50%;
}

.contacts__free-call {
    bottom: 16px;
    font-size: 11px;
    line-height: 20px;
    color: #9A9A9A;
}

.footer .contacts {
    display: flex;
    align-items: flex-end;
}

.footer-games {
    padding-top: 46px;
    margin: auto;
    height: auto;
}