.form-reviews {
    background: #F4F5F5;
    padding-top: 62px;
    padding-bottom: 90px;
}

.form-reviews__wrapper {
    display: flex;
    width: 1140px;
    margin: 0 auto;
    flex-direction: column;
}

.form-reviews__title {
    color: #1A1B1E;
    text-align: start;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 55px;
}

.form__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 27px;
}

.form__row-input {
    width: 557px;
    height: 65px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid transparent;
    background: #FFF;
    color: #1A1B1E;
    font-size: 18px;
    font-weight: 400;
    padding: 20px 30px;
    
}

.form__row-input:focus {
    border-color: #8F00FF;
}

.form__row-input-textarea {
    width: 1142px;
    height: 235px;
    /*flex-shrink: 0;*/
    border-radius: 5px;
    background: #FFF;
    border: 1px solid transparent;
    color: #666;
    font-size: 18px;
    /*resize: none;*/
    margin-bottom: 33px;
    padding-left: 30px;
    text-align: start;
}

.form__row-input-textarea:focus {
    border-color: #8F00FF;
}

.form-reviews__down-line {
    display: flex;
}

.form-reviews__down-line-question {
    display: flex;
    width: 50%;
    color: #1A1B1E;
    font-size: 18px;
}

.form-reviews__down-line-answers {
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
}

.form-reviews__controls-item {
    margin-left: 17px;
    margin-bottom: 15px;
}

.form-reviews__ellipse-answer {
    background: #E7E7E7;
    width: fit-content;
    height: 37px;
    color: #1A1B1E;
    font-size: 13px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    padding: 0px 15px;

}

.ellipse-answer:hover {
    background: #B9EAE4;
}

.form-reviews__controls-elem {
    cursor: pointer;

}

.form-reviews__controls-checkbox:checked ~ .form-reviews__controls-ellipse-answer {
    background: #B9EAE4;
}

.form-reviews__controls-checkbox {
    display: none;
}

.form-reviews__bottoms-line {
    display: flex;
    justify-content: end;
}

.form-reviews__bottom-clear {
    border: #2B2B2B;
    background: #2B2B2B;
    margin-right: 15px;
}

.form-reviews__bottom-clear:hover {
    border: #8E8E8E;
    background: #8E8E8E;
}
