.new-in-the-week {
    display: flex;
    flex-direction: column;
    margin-bottom: 107px;
}

.new-in-the-week__title {    
    display: flex;
    align-items: center;
    margin-bottom: 51px;

}

.new-in-the-week__title-text {
    /*display: inline-block;*/
    font-size: 36px;
    font-weight: 700;
    margin-right: 13px;
}

.new-in-the-week__title-icon {
    /*display: inline-block;*/
    height: 42px;
    width: 42px;
}

.new-in-the-week__list {
    display: flex;
    justify-content: space-between;
}

.new-in-the-week__item {
    display: flex;
    flex-direction: column;
    min-height: 470px;
    width: calc(100% / 3 - 18px);
    border-radius: 5px;
    background: #FFF;
    /*margin-right: 27px;*/
    /*overflow: hidden;*/
}

.new-in-the-week__item:last-child {
    /*margin-right: 0;*/
}

.new-in-the-week__image {
    width: 100%;
    height: 143px;
    margin-bottom: 5px;
}

.new-in-the-week__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding: 32px 40px 48px 23px;
}

.new-in-the-week__subtitle {
    display: block;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    /*margin-bottom: 14px;*/
}

.new-in-the-week__options {
    display: flex;
    justify-content: space-between;
    /*margin-right:25.5px;*/
}

.new-in-the-week__options-item{
    display: flex;
    justify-content: space-between;
    /*margin-right: 52px;
    margin-bottom: 23,5px;*/
}

.new-in-the-week__options-item:last-child {
   /* margin-right: 0;*/
}

.new-in-the-week__options-icon {
    display: block;
    color: #797979;
    width: 26px;
    height: 26px;
    margin-right: 10px;
    vertical-align: middle;
}

.new-in-the-week__options-text{
    display: block;
    color: #666;
}

.new-in-the-week__text {
    display: block;
    color: #303030;
    font-size: 14px;
    line-height: 21px;
    /*margin-bottom: 23.5px;*/
}

.new-in-the-week__button .button--border {
    background: #fff;
    color: #8F00FF;
    border-radius: 5px;
    border: 1px solid #8F00FF;
    margin-top: auto;
    /*margin-bottom: 26px;*/
}

.new-in-the-week__button .button--border:hover {
    background: #741BBA;
    color: #fff;
}

.button {
    border: 1px solid #8F00FF;
}