.inner-section {
  display: flex;
  flex-direction: column;
  background: #fff;
  color: #1A1B1E;
  padding-top: 86px;
  padding-bottom: 93px;
}

.inner-section-bg-grey {
  flex-direction: column;
  color: #1A1B1E;
  display: flex;
  background: #F4F5F5;
  padding-top: 130px;
  padding-bottom: 93px;
}

.inner-section-wrapper {
  width: 1140px;
  margin: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inner-section__title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 62px;
}

.partners {
  display: flex;
  flex-wrap: wrap;
  row-gap: 27px;
  
  /*margin-left: -46px;*/
}

.partners__item {
  /*margin-left: 46px;*/
  width: 25%;
  padding-left: 30px;
  /*filter: grayscale(100);*/
}

.partners__item:nth-child(4n+1) {
  padding-left: 0px;
}

.partners__link {
  text-decoration: none;
  display: flex;
  /*width: 270px;*/
  height: 100px;
  align-items: center;
  /*justify-content: center;*/
  filter: grayscale(100);
}

.partners__link:hover {
  filter: grayscale(0);
}