.past-games {
    display: flex;
    flex-direction: column;
    margin-bottom: 144px;
}

.past-games__title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
}

.past-games__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 51px;
}

.past-games__item {
    display:flex;
    flex-direction: column;
    justify-content: end;
    width: 556px;
    height: 395px;
    border-radius: 4px;

 }

 .past-games__item-img1 {
    width: 556px;
    height: 395px;
    flex-shrink: 0;
    background: linear-gradient(0deg, rgba(90, 90, 90, 0.30) 0%, rgba(90, 90, 90, 0.30) 100%), url(/img/kto-gde-quiz.jfif), lightgray 50% / cover no-repeat;
    /*background: url("/img/kto-gde-quiz.jfif") ;*/
    /*opacity: 0.3;*/
 }

 .past-games__item-img2 {
    background: linear-gradient(0deg, rgba(90, 90, 90, 0.40) 0%, rgba(90, 90, 90, 0.40) 100%), url("/img/team.jfif"), lightgray 50% / cover no-repeat;
    /*background: url("/img/team.jfif");
    opacity: 0.3;*/
 }

 /*.past-games__item:last-child {
    margin-right: 0;
 }*/

.past-games__img {
    width: 100%;
    height: 100%;
    opacity: .3;
}

.past-games__content {
    display: flex;
    flex-direction: column;
    padding: 22px 28px;
}

.past-games__date {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 12px;
}

.past-games__content > h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 10px;
}

.past-games__content > p {
    line-height: 21px;
}